body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.header {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
  position: relative;
}

.menu button {
  margin: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

#usuarioHeader {
  position: absolute;
  top: 10px;
  right: 20px;
}

.usuario-activo {
  font-size: 14px;
}

#contenido {
  padding: 20px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.producto-card, .venta-item {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.producto-card img {
  width: 150px;
  height: auto;
}


.carrito-item {
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 10px;
  padding: 10px;
}

.carrito-item img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 10px;
}

.boleta-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.boleta-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.inicio {
  text-align: center;
}

.logo-inicio {
  width: 200px;
  margin-bottom: 15px;
}
